<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konto aktiv post</title>
</head>
<body>
   
    <p>Sehr geehrte Damen und Herren,</p>
    <p>Gute Nachrichten! Ihr <strong>B2Binfo</strong>-Konto wurde genehmigt.Sie können sich jetzt anmelden und auf die Plattform zugreifen.</p>
    <p>Login: https://www.b2binfo.ch</p>
    <p>Wir heißen Sie herzlich in unserer Mitgliedergemeinschaft willkommen.</p>
    <p>Mit freundlichen Grüßen,</p>
    <p>Das B2Binfo-Team</p>
</body>
</html>




