<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berichtsmail genehmigen</title>
</head>
<body>


{{!-- admin should get an email about the new report to approve (to admin@b2binfo.ch) --}}
{{!-- Betreff: Neuer Bericht wartet auf Genehmigung --}}

    <p>Hallo,</p>
    <p>Ein Mitglied hat einen neuen Bericht eingereicht.</p><br/>
    <p>Bitte prüfen Sie ihn und genehmigen oder lehnen Sie die Veröffentlichung ab.</p>
     <p>Auf die Verwaltung zugreifen: https://www.b2binfo.ch</p>

    <p>Mit freundlichen Grüßen</p>
    <p>B2Binfo-System</p>
</body>
</html>

