 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neue Registrierung wartet auf Genehmigung</title>
</head>
<body>

    <p>Hallo,</p>
    <p>Ein neuer Benutzer hat sich gerade bei B2Binfo registriert.</p>
    <p>Bitte überprüfen und genehmigen Sie das Konto.</p>
    <p>Auf die Verwaltung zugreifen: www.b2binfo.ch</p>
    <p>Mit freundlichen Grüßen</p>
    <p>B2Binfo-System</p>
</body>
</html>


