 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Zahlung per Post erhalten</title>
</head>
<body>

    <p>Hallo,</p>
    <p>Eine neue Zahlung wurde im System erfasst.Bitte prüfen und validieren Sie diese bei Bedarf.</p>
    <p>Auf die Verwaltung zugreifen: https:www.b2binfo.ch</p>
    <p>Mit freundlichen Grüßen</p>
    <p>B2Binfo-System</p>
</body>
</html>



