 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das B2Binfo-Abonnement läuft bald ab</title>
</head>
<body>
    
    <p>Sehr geehrte Damen und Herren,</p>
    <p>Ihr B2Binfo-Abonnement läuft in 10 Tagen ab.</p>
    <p>Um Unterbrechungen des Dienstes zu vermeiden, erneuern Sie bitte Ihr Abonnement rechtzeitig.</p>
    <p>Greifen Sie auf Ihr Konto zu, um zu erneuern: www.b2binfo.ch</p>
    <p>Bei Fragen steht Ihnen unser Team gerne zur Verfügung.</p>

    <p>Mit freundlichen Grüßen</p>
    <p>Das B2Binfo-Team</p>
</body>
</html>