 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung bei B2Binfo</title>
</head>
<body>
    <p>Sehr geehrte Damen und Herren,</p>
    <p>Vielen Dank für Ihre Registrierung auf der B2Binfo-Plattform. Ihre Anfrage wurde erfolgreich erfasst und befindet sich derzeit in der Überprüfung. Diese Prüfung kann 24 bis 48 Stunden dauern.</p>
    <p><b>In dieser Zeit bitten wir Sie, die ausgefüllte und unterschriebene Konformitätserklärung (Anhang) zurückzusenden.</b></p><br/>

   <p><b>⚠️ Bitte lassen Sie dieses Dokument nur von Personen unterschreiben, die berechtigt sind, das im Handelsregister eingetragene Unternehmen zu vertreten oder über eine gültige Vollmacht verfügen.</b></p>

    <p>Solange dieses Dokument nicht ordnungsgemäß unterschrieben bei uns eingegangen ist, können wir die Eröffnung Ihres Kontos leider nicht abschließen.</p><br/>
    <p>Sie erhalten eine E-Mail, sobald Ihr Konto validiert und aktiviert wurde.</p>

    <p>Vielen Dank für Ihre Zusammenarbeit,</p>
    <p>Das B2Binfo-Team</p>
</body>
</html>