<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte actif mail</title>
</head>
<body>
    {{!-- <p>Dear {{name}}</p>
    <p>your Account email  {{email}} is approved by admin. Now you can able to login our b2binfo website </p> --}}
    <p>Madame, Monsieur,</p>
    <p>Bonne nouvelle ! Votre compte <strong>B2Binfo</strong> a été approuvé.Vous pouvez dès maintenant vous connecter et accéder à la plateforme.</p>
    <p>Connexion : https://www.b2binfo.ch</p>
    <p>Nous vous souhaitons la bienvenue parmi nos membres.</p>
     {{!-- <p>Thanks,</p> --}}
    <p>Cordialement,</p>
    <p>L’équipe B2Binfo</p>
</body>
</html>




