<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approuver le courrier de rapport</title>
</head>
<body>

    <p>Bonjour,</p>
    <p>Un membre a soumis un nouveau rapport.</p><br/>
    <p>Merci de le consulter et d’approuver ou refuser la publication.</p>
     <p>Accéder à l’administration : https :www.b2binfo.ch</p>
    <p>Cordialement,</p>
    <p>Système B2Binfo</p>
</body>
</html>

