 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle inscription en attente d'approbation</title>
</head>
<body>

    <p>Bonjour,</p>
    <p>Un nouvel utilisateur vient de s’inscrire sur B2Binfo.</p>
    <p>Merci de procéder à la vérification et à la validation du compte.</p>
    <p>Accéder à l’administration : www.b2binfo.ch</p>
    <p>Cordialement</p>
    <p>Système B2Binfo</p>
</body>
</html>


