 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Paiement reçu par courrier</title>
</head>
<body>

    <p>Bonjour,</p>
    <p>Un nouveau paiement vient d’être enregistré dans le système.Merci de vérifier et valider si nécessaire.</p>
    <p>Accéder à l’administration : https: www.b2binfo.ch </p>
    <p>Cordialement</p>
    <p>Système B2Binfo</p>
</body>
</html>



