 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'abonnement B2Binfo expirera bientôt</title>
</head>
<body>
    
   {{!-- <p>Dear customer your subscription is end after 10 days.please renew it</p><br/>
   <p>go to profile and pay before the end of subscription.</p> --}}
    <p>Madame, Monsieur,</p>
    <p>Votre abonnement B2Binfo arrive à échéance dans 10 jours.</p>
    <p>Pour éviter toute interruption de service, merci d’effectuer votre renouvellement dans les délais</p>
   <p>Accéder à votre compte pour renouveler : www.b2binfo.ch</p>
    <p>En cas de question, notre équipe est à votre disposition.</p>

    <p>Cordialement</p>
    <p>L’équipe B2Binfo</p>
</body>
</html>