 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription sur B2Binfo</title>
</head>
<body>
    
    <p>Madame, Monsieur,</p>
    <p>Nous vous remercions pour votre inscription sur la plateforme B2Binfo. Votre demande a bien été enregistrée et est en cours de vérification. Cette vérification peut prendre 24 à 48 heures.
</p>
    <p><b>Pendant ce délai, nous vous demandons de retourner l’attestation de conformité complétée et signée (pièce jointe).</b></p><br/>

   <p><b>⚠️ Merci de faire signer ce document uniquement par les personnes habilitées à représenter la société telle qu’inscrite au registre du commerce ou munie d’une procuration valable.</b></p>

    <p>Tant que ce document ne nous est pas remis dûment signé, nous ne pouvons malheureusement pas finaliser l’ouverture de votre compte.</p><br/>
    <p>Vous recevrez un e-mail dès que votre compte aura été validé et activé.</p>

    <p>Merci de votre collaboration,</p>
    <p>L’équipe B2Binfo</p>
</body>
</html>