<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disapprove Mail</title>
</head>
<body>
    <p>Dear {{name}}</p>
    <p>your Account email  {{email}} is disapproved by admin </p>
     <p>Thanks,</p>
    <p>Best regards,</p>
    <p>B2b Company</p>
</body>
</html>