<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account attivo posta</title>
</head>
<body>
    {{!-- <p>Dear {{name}}</p>
    <p>your Account email  {{email}} is approved by admin. Now you can able to login our b2binfo website </p> --}}
    <p>Gentile Signore / Gentile Signora,</p>
    <p>Buone notizie! Il tuo account <strong>B2Binfo</strong> è stato approvato.Puoi ora effettuare il login e accedere alla piattaforma.</p>
    <p>Login: https://www.b2binfo.ch</p>
    <p>Ti diamo il benvenuto tra i nostri membri.</p>
  
    <p>Cordiali saluti,</p>
    <p>Il team B2Binfo</p>
</body>
</html>




