 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuova iscrizione in attesa di approvazione</title>
</head>
<body>

    <p>Ciao,</p>
    <p>Un nuovo utente si è appena registrato su B2Binfo</p>
    <p>Si prega di procedere alla verifica e all’approvazione dell’account.</p>
    <p>Accedi all’amministrazione: www.b2binfo.ch</p>
    <p>Cordiali saluti,</p>
    <p>Sistema B2Binfo</p>
</body>
</html>


