 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pagamento ricevuto tramite posta</title>
</head>
<body>

    <p>Ciao,</p>
    <p>Un nuovo pagamento è stato registrato nel sistema.Si prega di verificare e convalidare se necessario.</p>
    <p>Accedi all’amministrazione: https:www.b2binfo.ch</p>
    <p>Cordiali saluti,</p>
    <p>Sistema B2Binfo</p>
</body>
</html>



