 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'abbonamento a B2Binfo scadrà a breve</title>
</head>
<body>

    <p>Gentile Signore / Gentile Signora,</p>
    <p>Il tuo abbonamento B2Binfo scadrà tra 10 giorni.</p>
    <p>Per evitare interruzioni del servizio, ti preghiamo di rinnovare l’abbonamento nei tempi previsti.</p>
    <p>Accedi al tuo account per rinnovare: www.b2binfo.ch</p>
    <p>Per qualsiasi domanda, il nostro team è a tua disposizione.</p>

    <p>Cordiali saluti,</p>
    <p>Il team B2Binfo</p>
</body>
</html>