 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione su B2Binfo</title>
</head>
<body>
    <p>Gentile Signore / Gentile Signora,</p>
    <p>La ringraziamo per essersi registrato sulla piattaforma B2Binfo. La sua richiesta è stata registrata correttamente ed è in fase di verifica. Questa verifica può richiedere 24-48 ore.</p>
    <p><b>Durante questo periodo, le chiediamo di restituire il Certificato di Conformità compilato e firmato (allegato).</b></p><br/>

   <p><b>⚠️ La preghiamo di far firmare questo documento solo dalle persone autorizzate a rappresentare la società come registrata nel registro delle imprese o munite di una procura valida.</b></p>

    <p>Finché questo documento non ci sarà restituito debitamente firmato, purtroppo non possiamo finalizzare l’apertura del suo account.</p><br/>
    <p>Riceverà un’e-mail non appena il suo account sarà stato convalidato e attivato.</p>

    <p>Grazie per la collaborazione,</p>
    <p>Il team B2Binfo</p>
</body>
</html>