<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Report Mail</title>
</head>
<body>

    <p>Hello,</p>
    <p>A member has submitted a new report.</p>
    <p>Please review it and approve or reject the publication.</p><br/>
     <p>Access the administration: https://www.b2binfo.ch</p>
    <p>Best regards,</p>
    <p>B2Binfo System</p>
</body>
</html>

