 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New registration awaiting approval</title>
</head>
<body>

    <p>Hello,</p>
    <p>A new user has just registered on B2Binfo.Please proceed with the verification and approval of the account.</p>
    <p>Access the administration: www.b2binfo.ch</p>
    <p>Best regards,</p>
    <p>B2Binfo System</p>
</body>
</html>


