 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2Binfo subscription will expire soon</title>
</head>
<body>
    
   {{!-- <p>Dear customer your subscription is end after 10 days.please renew it</p><br/>
   <p>go to profile and pay before the end of subscription.</p> --}}
    <p>Dear Sir or Madam,</p>
    <p>Your B2Binfo subscription will expire in 10 days.</p>
    <p>To avoid any service interruption, please make sure to renew your subscription on time.</p>
    <p>Access your account to renew: www.b2binfo.ch</p>
    <p>If you have any questions, our team is at your disposal.</p>

    <p>Best regards,</p>
    <p>The B2Binfo team</p>
</body>
</html>