 <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration on B2Binfo</title>
</head>
<body>
    
    <p>Dear Sir or Madam,</p>
    <p>Thank you for registering on the B2Binfo platform. Your request has been successfully recorded and is currently under review. This verification may take 24 to 48 hours.</p>
    <p><b>During this time, we ask you to return the completed and signed Certificate of Compliance (attached).</b></p><br/>

   <p><b>⚠️ Please ensure that this document is signed only by persons authorized to represent the company as registered in the commercial register or holding a valid power of attorney.</b></p>

    <p>As long as this document is not duly signed and returned to us, we unfortunately cannot finalize the opening of your account.</p><br/>
    <p>You will receive an email as soon as your account has been validated and activated.</p>

    <p>Thank you for your cooperation,</p>
    <p>The B2Binfo team</p>
</body>
</html>